version: 2
jobs: 
  build:
    docker:
      - image: circleci/ruby:2.2.9-browsers
        environment:
          GOPATH: ./go
      - image: circleci/postgres:9.6.2-alpine
      - image: circleci/redis:3.0.5
    steps:
      - run: ls
  test:
    docker:
      - image: circleci/ruby:2.2-node
      - image: circleci/postgres:9.3
      - image: circleci/redis:3.2
    environment:
      GOPATH: ./go
    steps:
      - run: sudo apt-get install tar
      - run: sudo apt-get install postgresql postgresql-contrib
      - run: ls ./go/loadsoffiles | wc -l

workflows:
  version: 2
  all:
    jobs:
      - build
      - test:
          requires:
            - build

