version: 2
jobs: 
  build:
    docker:
      - image: circleci/golang:1.10
    environment:
      GOPATH: ./go
    steps:
      - checkout
      - run: . ./makefiles.sh
      - persist_to_workspace:
          root: "files"
          paths: "loadsoffiles"
      - run: ls ./files/loadsoffiles | wc -l
  test:
    docker:
      - image: circleci/golang:1.10
    environment:
      GOPATH: ./go
    steps:
      - checkout
      - attach_workspace:
          at: "./go"
      - run: ls ./go/loadsoffiles | wc -l

workflows:
  version: 2
  all:
    jobs:
      - build
      - test:
          requires:
            - build

